.results-hilight {
  background-color: yellow;
}

#results {
  tbody {

    tr {
      vertical-align: top;

      td.date {
        width: 5%;
        white-space: nowrap;
      }

      td.link {
        width: 10%;
        padding: 0px 30px 0px 30px;
      }

      td.intro {
        width: 85%;
      }
    }
  }
}
