<!DOCTYPE html>
<html>
<head>
  <title>Slashdot Archive</title>
  <%= stylesheet_pack_tag       'application' %> 
  <%= javascript_pack_tag       'application' %> 
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
